<h1>fave ingredients</h1>

<ul>
   <% if(ingredient.length >0){ %>
    <% ingredient.forEach(ingredient => { %>
        <li><%= ingredient.name %> | <%= ingredient.healthLabel %></li>
    <% })} else{ %>
        <li><%= 'There are no saved ingredients.' %></li>
    <% }; %>
</ul>