<h2>Homepage</h2>
<% //TODO change homepage so the login/signup page is the first thing to load
<%= currentUser ? `Welcome ${currentUser.firstName}!` : 'There is no user' %>


<ul>
    <li><a href='/search'>Search</a></li>
    <li><a href='/faveingredients'>Fave Ingredients</a></li>
    <li><a href='/faverecipes'>Fave Recipes</a></li>
    <li><a href='/dislikeingredients'>Ew Ingredients</a></li>
    <li><a href='/dislikerecipes'>Ew Ingredients</a></li>
</ul>