<h1>I want to search for</h1>

<form method=GET action="/results">
    <select name="searchtype">
            <option value="food" name="food">an Ingredient</option>
            <option value="recipe" name="recipe">a Recipe</option>
            </select>
    <input type='text' name="searchterm">
    <input type='submit' value='search'>    
</form>