body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    font-size: 18px;
    background-color: #236946;
    margin: 0 auto;
}

.loginsignuppage {
    background-color: #236946;
    width: 600px;
}

input {
    border-radius: 10px;
    padding: 2px;
}

input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 25%;
    padding: 8px;
    border-radius: 10px;
    transition: 500ms ease-in-out;
    font-size: 18px;
    text-align: center;
}

input[type=submit]:hover {
    background-color: #236946;
    color: whitesmoke;
    font-size: 22px;
    cursor: pointer;
}

nav ul{
    padding: 0;
    text-align: center;
}
nav ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: .3em;
}

nav {
    display: flex;
    justify-content: center;
}

nav a, nav a:visited{
    color: whitesmoke;
    transition: 500ms ease-in-out;
    font-size: 22px;
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
}

a{
    font-family: 'Architects daughter', cursive;
    text-decoration: none
}

nav a:hover{
    font-size: 24px;
    color: #236946;
    background-color: whitesmoke;
    
}

#logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

#navtitle {
    font-size: 64px;
    color: whitesmoke;
}

.fas {
    color: whitesmoke;
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

h1, h2, h3 {
    color: whitesmoke;
    font-family: 'Architects Daughter', cursive;
}

header,
footer {
    width: 600px;
    margin: 0 auto;
    color: #236946;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(147, 233, 190, 1);
}

footer i {
    color: whitesmoke;
    padding: 16px;
}

#logo h1 {
    margin: 0;
}

.alert-container {
    width: 50vw;
    margin: 0 auto;
    box-shadow: 5px 10px #afafaf;
}

.alert {
    margin: .25em;
    padding: .25em;
    background-color: rgba(43, 43, 43, .687);
    color: white;
}

.error {
    border: 3px solid crimson;
    background-color: rgb(148, 27, 51);
}

.success {
    border: 3px solid forestgreen;
    background-color: rgb(21, 85, 21);
}

.loginsignupform {
    height: 400px;
    width: 600px;
    margin: 16px auto;
    background-color: rgba(147, 233, 190, .8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.loginsignup form {
    margin: 0 auto;
    text-align: center;
}

.loginform {
    display: flex;
}

.loginemail,
.password {
    padding: 4px;
}

.names,
.emailpw,
.nutritionpref {
    padding: 16px;
}

.signup {
    width: 100%;
    text-align: right;
    padding: 16px;
    color: black;
}

a:visited {
    color: #236946;
}

.fa-linkedin,
.fa-github {
    margin: 16px;
    transition: 500ms ease-in-out;
}

.fa-linkedin:hover,
.fa-github:hover {
    background-color: rgba(147, 233, 190, 1);
    color: #236946;
    cursor: pointer;
}

.homepage-container {
    background-color: whitesmoke;
}

.homepage {
    width: 600px;
    margin: 0 auto;
}

.homepage ul li {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 16px;
    background-color: rgba(147, 233, 190, .8);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.homepage a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms ease-in-out;
    border-radius: 10px;
}
.homepage a:hover{
    background-color: #236946;
    color: whitesmoke
}

.homepage ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 20px auto;
}

.search {
    padding: 16px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(147, 233, 190, .8);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

h2 {
    text-align: right;
}

.search input[type=text] {
    padding: 4px;
    font-size: 18px;
}

.search select {
    font-size: 18px;
    border-radius: 10px;
    padding: 8px;
    border: none;
}

.body{
    width: 600px;
    margin: 0 auto;
    padding: 8px;
}

.results .results2{
    white-space: normal;
    word-wrap: break-word;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 16px;
    background-color: rgba(245,245,245, .8);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.body ul, .reciperesults ul{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
}


.ingredientdetails{
    background-color: rgba(245,245,245, .8);
    border-radius: 10px;
    padding: 16px;
}

.ingredientdetails input[type=submit]{
    width: auto;
    background-color: #236946;
    transition: 500ms ease-in-out;
}

.ingredientdetails input[type=submit]:hover{
    width: auto;
    background-color: #93e9be;
    color: black;
    transition: 500ms ease-in-out;
}

#recipe{
    width: 800px;
}

.reciperesults input[type=submit]{
    width: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 200px;
    white-space: normal;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: -5px;
    background-color: #93e9be;
    transition: 500ms ease-in-out;

}

.reciperesults input[type=submit]:hover{
    background-color: #236946;
}

.reciperesults img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
}

.reciperesults ul{
    background-color: whitesmoke;
    border-radius: 10px;;
}

.reciperesults li{
    margin: 16px;
}

.recipedetails, .recipestyles, .profile{
    background-color: rgba(245,245,245, .8);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
    color: black;
}

.recipedetails h1, .recipestyles h1, .profile h1{
    color: black;
}

.recipedetails img{
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
}

.forms{
    display: flex;
    justify-content: space-evenly;
}

.recipedetails input[type=submit]{
    width: 200px;
    white-space: normal;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #93e9be;
    transition: 500ms ease-in-out;
}

.recipedetails input[type=submit]:hover{
    width: auto;
    white-space: normal;
    word-wrap: break-word;
    margin: 0 auto;
    margin-top: 16px;
    background-color: #236946;
    transition: 500ms ease-in-out;
}



.recipestyles input[type=submit]{
    white-space: normal;
    word-wrap: break-word;
    width: auto;
    display:flex;
    margin: 16px;
}

.listingthings li{
    display: flex;
}

.listingthings form{
    display: flex;
}

.search input[type=submit]{
    margin:0 auto;
    margin-top: 16px;
    width: 25%;
}

.profile{
    padding: 16px;
}

.widebody{
    background-color: whitesmoke;
    margin: 18px 0;
    min-height: 500px;
}

.editprofile, .results{
    background-color: #93e9be;
    height: 100%;
    text-align: center;
    margin: 16px auto;
}

.editprofile form div{
    text-align: left;
    padding: 8px;
    width: 80%;
    margin: 16px auto;
}

.editprofile form div label{
    padding: 8px;
}

.results h3, .search h3, .reciperesults h1{
    color: black;
}