<H1>RESULTS</H1>

<!--NEED TO INCLUDE SECTION TALKING ABOUT USER PREFERENCE-->

<ul>
    <% recipeResults.forEach(recipe, id =>{%>
    <li><img src="<%= recipe.recipe.image %>"> <a href="<%= recipe.recipe.id %> "><%=recipe.recipe.label%></a></li>
    <%})%>
</ul>